#console{
    height: 40px;
    
}

.chat{
    height: calc(100vh - 80px);
    overflow-y: scroll;
    

}
#contacts{
    height: 40px;
}

#userList{
    height: 100vh;
    overflow-y: scroll;
    position: absolute;
    right: 0;
}
#close{
    width: 5px;
    height: 5px;
    
   
}